<div *ngIf="round">
  <h3>{{ round.name }}
    <div class="nav float-right btn-group">
      <button class="btn btn-info btn-sm"
              [routerLink]="['/league', league.id, edition.name, round.name]">
        <i class="fas fa-th"></i> Tabele
      </button>
      <button class="btn btn-info btn-sm active">
        <i class="fas fa-futbol"></i> Mecze
      </button>
      <button class="btn btn-info btn-sm"
              [routerLink]="['/scoreboard', league.id, edition.name]">
        <i class="fas fa-sort-numeric-down"></i> Ranking
      </button>
    </div>
  </h3>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Grupa</th>
      <th>Data</th>
      <th>Mecz</th>
      <th>Wynik</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results">
      <td class="text-nowrap">
        <span class="d-inline d-sm-none">{{result.group | doc | async | groupAbbrev}}</span>
        <span class="d-none d-sm-inline">{{(result.group | doc | async)?.name}}</span>
      </td>
      <td class="text-nowrap" title="{{result.date | fromtimestamp |date:'full'}}, autor {{result.author || '-'}}">
        {{result.date | fromtimestamp | date:'MMM d'}}
      </td>
      <td>
        <span class="d-inline d-sm-none">{{result.player | doc | async | surname}}&nbsp;:&nbsp;{{result.opponent | doc | async | surname}}</span>
        <span class="d-none d-sm-inline">{{(result.player | doc | async)?.name}}&nbsp;:&nbsp;{{(result.opponent | doc | async)?.name}}</span>
      </td>
      <td>{{result.score}}</td>
      <td>
        <button class="btn btn-default btn-sm float-right" (click)="removeResult(result)" *ngIf="user"><i
          class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
