table {
  font-size: 12px;
}

table td {
  line-height: 31px;
}

tbody {
  counter-reset: rowNumber;
}

tbody tr {
  counter-increment: rowNumber;
}

tbody td:first-child:before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
