<h3 *ngIf="league">
  Ranking {{league.name}} - {{edition.name}}
  <div class="nav float-right btn-group">
    <button class="btn btn-info btn-sm"
            [routerLink]="['/league', league.id, edition.name, round.name]">
      <i class="fas fa-th"></i> Tabele
    </button>
    <button class="btn btn-info btn-sm"
            [routerLink]="['/league', league.id, edition.name, round.name, 'matches']">
      <i class="fas fa-futbol"></i> Mecze
    </button>
    <button class="btn btn-info btn-sm active"
            [routerLink]="['/scoreboard', league.id, edition.name]">
      <i class="fas fa-sort-numeric-down"></i> Ranking
    </button>
  </div>
</h3>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th style="width: 10%;">Miejsce</th>
    <th style="width: 70%;">Gracz</th>
    <th style="width: 20%;">Punkty</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players">
    <td></td>
    <td>{{(player[0] | doc | async)?.name}}</td>
    <td>{{player[1]}}</td>
  </tr>
  </tbody>
</table>
