<div id="leagues">
  <div class="card card-body bg-light league" *ngFor="let league of leagues | async"
       (click)="league.visible = !league.visible">
    <h3>{{ league.name }} <i class="fas fa-angle-double-down float-right"></i></h3>
    <div *ngIf="league.visible" @ngIfAnimation>
      <div *ngFor="let edition of league.edition" class="edition">
        <h4>{{ edition.name }} <a [routerLink]="['/scoreboard', league.id, edition.name]" class="scoreboard-link"><i
          class="fas fa-sort-numeric-down"></i> Ranking</a></h4>
        <ul *ngFor="let round of edition.rounds">
          <a [routerLink]="['/league', league.id, edition.name, round.name]"><i class="fas fa-clipboard-list"></i>
            {{round.name}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>
