.league {
  margin-top: 8px;
}

#leagues .card {
  cursor: pointer;
}

#leagues .card ul {
  margin-bottom: 0;
}

#leagues .card h4 {
  font-size: 1.2rem;
}

.scoreboard-link {
  margin-left: 1em;
  font-size: 90%;
}
