table {
  font-size: 12px;
}

.no-game {
  background: #000;
}

.group-name {
  font-size: 120%;
}

.nav {
  display: inline-block;
}

.btn-group {
  margin-bottom: 16px;
}

.player-name button {
  margin-left: 4px;
}

.round-up, .round-down {
  margin-right: 3px;
}

.round-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.round-stats .stats {
  text-align: center;
  display: inline-block;
  width: 120px;
}

.round-stats .counter {
  font-size: 24px;
  font-weight: bold;
}

.round-stats .title {
  font-size: 16px;
}

.round-notes .timing {
  font-style: italic;
}

.round-notes .notes {
  font-size: 12px;
  white-space: pre-line;
}

.round-notes .notes textarea {
  margin-bottom: 4px;
}
