<div *ngIf="league && round">
  <h3>
    <a *ngIf="prevRound" [routerLink]="['/league', league.id, edition.name, prevRound.name, '']"
       routerLinkActive="active"><i class="fas fa-chevron-left"></i></a>&nbsp;
    {{ round.name }}
    <a *ngIf="nextRound" [routerLink]="['/league', league.id, edition.name, nextRound.name]"><i
      class="fas fa-chevron-right"></i></a>&nbsp;
    <button *ngIf="editMode" class="btn btn-sm btn-primary"
            (click)="settleRoundModal()">
      <i class="fas fa-check"></i> Rozlicz rundę
    </button>
    <div class="nav float-right btn-group">
      <button class="btn btn-info btn-sm active">
        <i class="fas fa-th"></i> Tabele
      </button>
      <button class="btn btn-info btn-sm"
              [routerLink]="['/league', league.id, edition.name, round.name, 'matches']">
        <i class="fas fa-futbol"></i> Mecze
      </button>
      <button class="btn btn-info btn-sm"
              [routerLink]="['/scoreboard', league.id, edition.name]">
        <i class="fas fa-sort-numeric-down"></i> Ranking
      </button>
      <button class="btn btn-info btn-sm" (click)="editMode = !editMode" *ngIf="user">
        <i class="fas fa-cogs"></i> Edycja
      </button>
    </div>
  </h3>
  <div class="round-notes">
    <p class="timing" *ngIf="!editMode">{{round.timing}}</p>
    <p class="timing form-inline" *ngIf="editMode">
      <input placeholder="Czas trwania rundy" [(ngModel)]="round.timing" class="form-control">&nbsp;
      <button class="btn btn-sm btn-primary" (click)="saveField('timing', round.timing)"><i class="fas fa-check"></i>
      </button>
    </p>
    <p class="notes" *ngIf="!editMode">{{round.notes}}</p>
    <p class="notes" *ngIf="editMode">
      <textarea [(ngModel)]="round.notes" class="form-control" placeholder="Wiadomości od organizatora"></textarea>
      <button class="btn btn-sm btn-primary" (click)="saveField('note', round.notes)"><i class="fas fa-check"></i>
        Zapisz
      </button>
    </p>
  </div>
  <div class="round-stats">
    <div class="stats">
      <div class="counter">{{resultsCount}}</div>
      <div class="title">Mecze</div>
    </div>
    <div class="stats">
      <div class="counter">{{playersCount}}</div>
      <div class="title">Gracze</div>
    </div>
    <div class="stats">
      <div class="counter">{{round.groupsCol.length}}</div>
      <div class="title">Grupy</div>
    </div>
  </div>
  <div *ngFor="let kv of groups | keyvalue">
    <p *ngIf="user && !nextRound">
      <button class="btn btn-success btn-sm" (click)="addScoreVisible[kv.value.name] = !addScoreVisible[kv.value.name]">
        <i class="far fa-plus-square"></i> Dodaj wynik {{kv.value.name}}
      </button>
    </p>
    <p *ngIf="addScoreVisible[kv.value.name]">
      <app-add-score [group]="kv.value" [results]="results" [scoring]="round.scoring || edition.scoring"
                     (canceled)="addScoreVisible[kv.value.name] = false"></app-add-score>
    </p>
    <table class="table table-hover table-sm" *ngIf="results">
      <colgroup>
        <col width="34%"/>
        <col width="6%"/>
        <col *ngFor="let item of range(kv.value.players.length); let i = index"
             [width]="(60 / kv.value.players.length) + '%'"/>
      </colgroup>
      <thead class="thead-dark">
      <tr>
        <th class="text-nowrap">
          <span class="group-name">{{kv.value.name}}</span>&nbsp;
          <button class="btn btn-default btn-sm" (click)="assignPlayerModal(kv.value)" *ngIf="editMode"><i
            class="fas fa-user-plus"></i></button>
        </th>
        <th title="Punkty"><i class="fas fa-award"></i></th>
        <th *ngFor="let player of kv.value.players; let playerIdx = index;"><span
          *ngIf="{p: (player | doc | async)} as variable">{{variable.p?.name | shorten}}</span></th>
      </thead>
      <tbody>
      <tr *ngFor="let player of kv.value.players; let playerIdx = index;">
        <td class="player-name" *ngIf="{p: (player | doc | async)} as variable">
          <div [ngbTooltip]="variable.p?.name" placement="right">
            <i class="round-up fas fa-angle-up" *ngIf="kv.value.rules[playerIdx] && kv.value.rules[playerIdx] == 1"></i>
            <i class="round-down fas fa-angle-down"
               *ngIf="kv.value.rules && kv.value.rules[playerIdx] && kv.value.rules[playerIdx] === -1"></i>
            <i class="fas fa-minus"
               *ngIf="!kv.value.rules || !kv.value.rules[playerIdx] || kv.value.rules[playerIdx] === 0"></i>

            {{playerIdx + 1}}.
            <span class="d-inline d-sm-none">{{variable.p?.name | shorten}}</span>
            <span class="d-none d-sm-inline">{{variable.p?.name}}</span>&nbsp;
            <button class="btn btn-default btn-sm float-right" (click)="removePlayer(variable.p.name, player, kv.value)"
                    *ngIf="editMode && variable.p"><i class="fas fa-user-minus"></i></button>
            <button class="btn btn-default btn-sm float-right" (click)="changeRules(kv.value, playerIdx, -1)"
                    [disabled]="kv.value.rules[playerIdx] === -1"
                    *ngIf="editMode && variable.p"><i class="fas fa-angle-down"></i></button>
            <button class="btn btn-default btn-sm float-right" (click)="changeRules(kv.value, playerIdx, 0)"
                    [disabled]="kv.value.rules[playerIdx] === 0"
                    *ngIf="editMode && variable.p"><i class="fas fa-minus"></i></button>
            <button class="btn btn-default btn-sm float-right" (click)="changeRules(kv.value, playerIdx, 1)"
                    [disabled]="kv.value.rules[playerIdx] === 1"
                    *ngIf="editMode && variable.p"><i class="fas fa-angle-up"></i></button>

          </div>
        </td>
        <td>
          <div ngbTooltip="Sety (+/-): {{player['sets']}}. Wygrane: {{player['wins']}}" placement="right">
            {{player['points']}}
          </div>
        </td>
        <td *ngFor="let item of range(kv.value.players.length); let j = index;"
            [ngClass]="{'no-game': j == playerIdx}"
            [class]="player.path | result: [kv.value.results, kv.value.players[j].path, true]">
              <span *ngIf="{s: player.path | result: [results, kv.value.players[j].path]} as score">
                {{score.s}}
              </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="user">
    <button class="btn btn-primary btn-sm" (click)="addGroup()" *ngIf="editMode">
      <i class="fas fa-users"></i> Dodaj grupę
    </button>
  </p>
</div>
