<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Przypisz gracza do grupy <u>{{group.name}}</u></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="new-player">
    <div class="form-check" *ngFor="let player of players; index as i">
      <input type="checkbox" id="check{{i}}" name="check{{i}}" class="form-item"
             [value]="player" [(ngModel)]="selectedPlayers[player.id]">&nbsp;
      <label for="check{{i}}">{{player.name}}</label>
    </div>
    <div class="form-check" *ngFor="let i of newPlayers">
      <div class="input-group new-players">
        <input type="text" class="form-control form-control-sm" autocomplete="false" [(ngModel)]="newPlayersValues[i]"
               name="input{{i}}"/>
        <div class="input-group-append">
          <button class="btn btn-sm" type="button" (click)="appendNewPlayer()"><i class="far fa-copy"></i></button>
          <button class="btn btn-sm" type="button" (click)="removeNewPlayer(i)"><i class="fas fa-times"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="save()">Dodaj</button>
</div>
