<div id="login-component">
  <div class="float-right">
    <div *ngIf="(authState | async) as state; else notlogged">
      <em class="logged-user">{{state.displayName}}</em>&nbsp;
      <button class="btn btn-warning btn-sm" (click)="logout()"><strong>Wyloguj</strong></button>
    </div>
    <ng-template #notlogged>
      <button class="btn btn-info" (click)="login()">Zaloguj</button>
    </ng-template>
  </div>
  <div class="clearfix spacer"></div>
</div>
