<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Rozlicz: {{ round.name }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="round">
    <h3></h3>
    <div *ngFor="let kv of newGroups | keyvalue">
      <table class="table table-hover table-sm" id="settlement">
        <thead class="thead-dark">
        <tr>
          <th class="text-nowrap">
            <span class="group-name">{{kv.value.name}}</span>&nbsp;
          </th>
        </thead>
        <tbody>
        <tr *ngFor="let player of kv.value.players; let playerIdx = index;">
          <td class="player-name" *ngIf="{p: (player | doc | async)} as variable">
            <div [ngbTooltip]="variable.p?.name" placement="right">
              {{playerIdx + 1}}.
              <i *ngIf="player['movement'] === 1" class="fas fa-chevron-up"></i>
              <i *ngIf="player['movement'] === -1" class="fas fa-chevron-down"></i>
              <i *ngIf="player['movement'] === 0" class="fas fa-minus"></i>
              &nbsp;
              <span>{{variable.p?.name}} (+ {{player['score']}})</span>&nbsp;
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="startRound()">
    <i class="fas fa-check-double"></i> Rozpocznij nową rundę
  </button>
</div>
