<div class="row" id="add-score">
  <div class="col-lg-4 col-sm-12">
    <select name="p" class="form-control form-control-sm" [(ngModel)]="player" (ngModelChange)="playerChanged($event)">
      <option *ngFor="let player of group.players" [ngValue]="player">{{(player | doc | async)?.name}}</option>
    </select>
  </div>
  <div class="col-lg-1 col-sm-12">
    <select name="p" class="form-control form-control-sm" [(ngModel)]="score">
      <option *ngFor="let score of scoring | keyvalue" [value]="score.key">{{score.key}}</option>
    </select>
  </div>
  <div class="col-lg-4 col-sm-12">
    <select name="p" class="form-control form-control-sm" [(ngModel)]="opponent" [disabled]="!opponents.length">
      <option *ngFor="let opponent of opponents" [ngValue]="opponent">{{(opponent | doc | async)?.name}}</option>
    </select>
  </div>
  <div class="col-lg-3 col-sm-12">
    <button class="btn btn-success btn-sm" (click)="save(score)"
            [disabled]="saving || !player || !opponent || !score"><i class="fas fa-plus-square"></i> Zapisz
    </button>&nbsp;
    <button class="btn btn-sm" (click)="cancel()">
      <i class="fas fa-times"></i> Anuluj
    </button>
  </div>
</div>
