/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css';

footer {
  color: #999;
  font-size: 10px;
  margin-top: 32px;
  text-align: center;
}

h1 {
  cursor: pointer;
  font-size: 20px;
  line-height: 34px;
  margin-left: 32px;
}

h1 a, h1 a:hover {
  color: #333;
  text-decoration: none;
}
